/* 
    Document   : backenduser
    Created on : Oct 8, 2010, 6:17:43 PM
    Author     : Kristel
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#welcomeContainer {
    margin: 15px 5px 0 5px;
    font-size: large;
}

.label {
    width: 90px;
    display: inline-block;
}

.x-grid3-row-over .x-grid3-cell-inner {
    font-weight: bold;
}



#images-view .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
#images-view .thumb{
	background: #dddddd;
	padding: 3px;
}
#images-view .thumb img{
	height: 120px;
	width: 160px;
}
#images-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
#images-view .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

#images-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../../resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

#images-view .x-view-selected{
	background: #eff5fb url(images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
#images-view .x-view-selected .thumb{
	background:transparent;
}

#images-view .loading-indicator {
	font-size:11px;
	background-image:url('../../resources/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}   


.gal_imgorder {
    background-color: #D4DBF6;
    font-family: arial,verdana,helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
}

.gal_imgurl {
    background: #E6DFE0;
    font-family: arial,verdana,helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}





















