/* 
    Document   : layout
    Created on : Oct 7, 2010, 2:42:06 PM
    Author     : Kristel
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Temporary body font */
body {
    font-family: helvetica;
    font-size: 70%;
}

.sidepanels {
    background-color: #bebebe;
}

.horizontalpanelreg {
    background-color: gray;
}

.horizontalpaneladmin {
    background-color: green;
}

.horizontalpanelsuper {
    background-color: red;
}

.centerpanel {
    background-color: #ffffff;
}

.panelitemmargin {
    margin: 5px 5px 0 5px;
}

.userpanel {
    color: #ffffff;
    text-align: right;
}

.headerpanel {
    background-image: url(../img/maxzando_72dpi_01.png);
    background-repeat: no-repeat;
}

#logged-in-as {
    margin-right: 5px;
}

.panelMargin {
    margin: 15px 5px 0 5px;
}
#login-logout {
    padding : 5px;
    border : 0px;
}

.button-link .x-btn-text {
    cursor: pointer !important;
    border: none !important;
    /* Disable the button-style */
    background-color: transparent !important;
    background:none !important;
    background-image:none !important;
    padding: 0px !important;
    color: blue !important;
    text-decoration: underline !important;

}

 /* remove images */

.button-link .x-btn-tl,
.button-link .x-btn-tr,
.button-link .x-btn-tc,
.button-link .x-btn-ml,
.button-link .x-btn-mr,
.button-link .x-btn-mc,
.button-link .x-btn-bl,
.button-link .x-btn-br,
.button-link .x-btn-bc {
    background-image: none !important;
}

/* remove little dots in FF */

.button-link .x-btn-tl i,
.button-link .x-btn-tr i,
.button-link .x-btn-tc i,
.button-link .x-btn-ml i,
.button-link .x-btn-mr i,
.button-link .x-btn-mc i,
.button-link .x-btn-bl i,
.button-link .x-btn-br i,
.button-link .x-btn-bc i {
    font-size: 0px;
}

.dummy{
    border : 0px !important;
}