<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Project One Graphics & Printing Services </title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="css/templatemo_style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/img/favicon.jpg">
    <meta http-equiv="Content-Language" content="en-us" />
    <script src="js/jquery-1.2.1.pack.js" type="text/javascript"></script>
    <script src="js/jquery-easing.1.2.pack.js" type="text/javascript"></script>
    <script src="js/jquery-easing-compatibility.1.2.pack.js" type="text/javascript"></script>
    <script src="js/coda-slider.1.1.1.pack.js" type="text/javascript"></script>
    
    <script type="text/javascript">
    jQuery(window).bind("load", function() {
          jQuery("div#slider1").codaSlider();
    
    });
    </script>

</head>
<body>

<div id="templatemo_site_title_bar_wrapper">

	<div id="templatemo_site_title_bar">
    
    	<div id="site_title">
            <h1><a href="/index" target="_parent">
                <img src="img/P1Logo.png" alt="css templates" />
            </a></h1>
        </div>
	</div> 
</div> 

<div id="templatemo_content_wrapper">
  <div id="templatemo_content">
    
    <!-- start of slider -->

<div class="slider-wrap">
	<div id="slider1" class="csw">
		<div class="panelContainer">
		
			<div class="panel" title="Home">
				<div class="wrapper">
                   
	                    <img width="720" height="300" src="img/p1sign.png"/>
                    
              	
					<div class="cleaner_h40"></div>                    
                    
                    
                    <div class="cleaner_h20"></div>
					<p><a href="#5" class="cross-link" title="Go to Page 5">&#171; Previous</a> | <a href="#2" class="cross-link" title="Go to Page 2">Next &#187;</a></p>
				</div>
			</div>
			<div class="panel" title="Services">
				<div class="wrapper">
                
					<h2>Services</h2>
                    
                                        <p class="em_text">Our technology and workmanship provide a complete package of visibility, color and consistency for great effect and impact whatever your requirments are.<br/> We also offer the following services.</p>
                    <p>LARGE FORMAT PRINTING SOLUTIONS</p>
                    
                    <ul>
                        <li>Billboards</li>
                        <li>Banners & Streamers</li>
                        <li>Tent Brand/ Product Printing</li>
                    </ul>
                    
                    <p>EXHIBIT & PRODUCT DISPLAY SOLUTIONS.</p>
                    
                    <ul>
                        <li>Backlit & Fronlit Materials Display Modules, Wall Murals, Exhibit Booths etc.</li>
                        <li>Posters</li>
                        <li>Cintra Standee</li>
                        <li>Wall and Module Stickers</li>
                        <li>Promo Stickers</li>
                    </ul>
                    
                    <p>OUTDOOR & INDOOR PRINTING SOLUTIONS</p>
                    
                    <ul>
                        <li>Outdoor Backlit</li>
                        <li>Panaflex</li>
                        <li>Cintra Boairds</li>
                        <li>Stickers</li>
                    </ul>
                    
                    <p>AND OTHER SERVICES LIKE</p>
                    
                    <ul>
                        <li>Tarp</li>
                        <li>T-shirt Silkscreen/ Heatpress</li>
                        <li>Signage</li>
                        <li>Business card</li>
                        <li>Layout</li>
                        <li>Photobooth</li>
                        <li>Remix</li>
                        <li>CD Burn</li>
                        <li>Invitations</li>
                        <li>Craft Projects</li>
                        <li>Flyers</li>
                    </ul>

                    
                    <div class="cleaner_h20"></div>
					<p><a href="#1" class="cross-link" title="Go to Page 1">&#171; Previous</a> | <a href="#3" class="cross-link" title="Go to Page 3">Next &#187;</a></p>
				</div>
			</div>		
               <div class="panel" title="Photobooth">
				<div class="wrapper">
                                    
                                    <h3>Offering High Quality Digital Booths for any Events.</h3>
                                    <p>We are a portable photo booth studio that you can rent for any occasion. Turn your precious memories into something that will last forever, while you and your guest get entertained. Claim and bring home your gorgeous photo-lab quality Print in less than a minute.</p>
                                    <p>Occasions like:</p>
                                    <ul>
                                        <li>Weddings</li>
                                        <li>Baptism</li>
                                        <li>Birthday Parties</li>
                                        <li>Debuts </li>
                                        <li>Reunions</li>
                                        <li>Prom Nights</li>
                                        <li>School/College Fair</li>
                                        <li>Product/Store Launching</li>
                                        <li>Corporate/Media Events</li>
                                        <li>Other Parties & Celebrations</li>
                                    </ul>
                                    <p>Inclusions:</p>
                                    <p>Picture taken by high resolution DSLR Unlimited.<br />
                                    High Quality and Long lasting 4R photos w/ standees.<br />
                                    Customized templates/photo layout - include your own text, picture and logo.<br />
                                    Customized Backdrop and Customized Live View Screen.<br />
                                    Studio lights, Dye-sub printer set-up for fast and efficient printing.<br />
                                    Full automatic, not control by human photographer.<br />
                                    Free use of fun props & accessories(wigs, hats, shades, etc.).<br />
                                    DVD copy of all images for reviewing or reprinting purpose.<br />
                                    Online photo gallery.
                                    
                                    </p>
                                    
                                    <h3>PACKAGES OFFERED:</h3>
                                    <h4>2hrs package: P4,500<br/>
                                        3hrs package: P5,500<br />
                                        4hrs package: P6,500<br />
                                        5hrs package: P7,500<br /><br />
                                        Extra hourse P1,000 / Double Print + 600/hr<br /><br />
                                        For Inquiries and Reservations:
                                        641-3424 / 09266775339
                                        
                                    </h4>
                                    
<!--                    <p class="em_text">Graphics and Printing Services. What we do BEST is share our Enthusiasm.</p>-->
              	
					<div class="cleaner_h40"></div>                    
                    
<!--                    <div class="section_w320 fl">
	                    <img class="fl" src="images/portfolio.png" alt="portfolio" />
                        <div class="w320_content">
                            <h3>Services</h3>
                            <p>Donec ultricies fermentum sapien in facilisis.</p>
    	                    <div class="cleaner"></div>
	                        <div class="button_01"><a href="#2" class="cross-link">Details</a></div>
        				</div>
                                        
                   	</div>
                    
                    <div class="section_w320 fr">
	                    <img class="fl" src="images/aboutme.png" alt="portfolio" />
                        <div class="w320_content">
                            <h3>Portfolio</h3>
                            <p>Integer egestas nibh eget neque ornare tempor.</p>
    	                    <div class="cleaner"></div>
	                        <div class="button_01"><a href="#3" class="cross-link" >View All</a></div>
        				</div>
                                        
                   	</div>-->
                    
                    <div class="cleaner_h20"></div>
					<p><a href="#2" class="cross-link" title="Go to Page 2">&#171; Previous</a> | <a href="#4" class="cross-link" title="Go to Page 4">Next &#187;</a></p>
				</div>
			</div>
            
			<div class="panel" title="Portfolio">
				<div class="wrapper">
					
            		<h2>Portfolio</h2>

                    <div class="portfolio_box margin_r50">
                    
                        <h3>Tarpaulin</h3>
                        <div class="port_img">
                            <img width="180" height="80" src="img/deadoralive.jpg" alt="project 1" /></a>
                        </div>
                        <p>Banners, Streamers, Billboards. TARP!!</p>
                        
                        <div class="cleaner"></div>
                    </div>
                    
                    <div class="portfolio_box margin_r50">

                        <h3>Invitation/Cards</h3>
                        
                        <div class="port_img">
                            <img width="180" height="80" src="img/invitation.jpg" alt="project 2" /></a>
                        </div>
                        <p>Invitation and Business Cards</p>
                        
                        <div class="cleaner"></div>                                               
                    </div>
                    
                    <div class="portfolio_box">

                        <h3>Stickers</h3>
                        
                        <div class="port_img">
                            <img width="180" height="80" src="img/sticker.jpg" alt="project 3" /></a>
                        </div>
                        <p>Sticker!! Sticker!! Sticker!!</p>
                        <div class="cleaner"></div>
                    
                    </div>
                    
                    <div class="cleaner"></div>
                    

                    <div class="portfolio_box margin_r50">
                    
                        <h3>T-shirt Printing</h3>
                        <div class="port_img">
                           <img width="180" height="80" src="img/t-shirt.jpg" alt="project 4" /></a>
                        </div>
                        <p>Heat Press T-shirt Printing.</p>
                        
                        <div class="cleaner"></div>
                    </div>
                    
                    <div class="portfolio_box margin_r50">
                    
                        <h3>Digital Printing</h3>
                        
                        <div class="port_img">
                            <img width="180" height="80" src="img/digitalname.jpg" alt="project 5" /></a>
                        </div>
                        <p>Names, Stickers, Logo.</p>
                        <div class="cleaner"></div>                                               
                    
                    </div>
                    
                    <div class="portfolio_box">
                    
                        <h3>Meet the Boys</h3>
                        
                        <div class="port_img">
                           <img width="180" height="80" src="img/p1boys.jpg" alt="project 6" /></a>
                        </div>
                        <p>PROJECT ONE !!</p>
                        
                        <div class="cleaner"></div>
                    
                    </div>
        
                    <div class="cleaner_h10"></div>
                    
                    <p><a href="#3" class="cross-link" title="Go to Page 3">&#171; Previous</a> | <a href="#5" class="cross-link" title="Go to Page 5">Next &#187;</a></p>
                     
				</div>
			</div>
            
			<div class="panel" title="About Us">
				<div class="wrapper">					
                                        
                    <div class="image_wrapper fl_image">
                        <img width="720" height="300" src="img/aboutp1.jpg">
                    </div>
					<p>Project One Graphics and Printing Services is a sole printing company established by young, energetic and creative entrepreneurs with the aim of consolidating talents, resources and expertise in the field of printing technology.The company was created to specialize in printing production and to provide a superior vehicle for it's clients' objectives.</p>
<!--                    <div class="image_wrapper fr_image">
                           
                    </div>-->
                    <h3>Specialization</h3>
                    <p>We specialize in large format printing solely focusing on the demand and standard of our customers. Our goal is to provide our customers with the following benefits:
                         <ul>
                              <li>High quality printing and materials</li>
                              <li>Product Durability</li>
                              <li>Affordable Price</li>
                              <li>Reliability</li>
                         </ul>
                    </p>                    
                    <h3>Our Mission</h3>
                    <p>To become not just a leader in corporate printing layer but also a distinguished contender in the convergence revolution industry not only in one city but throughout the country.</p>
                    
                    <h3>Our Vision</h3>
                    <p>Our team strives to go beyond simply completing a project. We pride ourselves in seeing satisfaction in our customers' faces. What sets us apart is a strong sense of involvement that places our work not just an end of the production, but from the cutting and everything in between. In our company, customer service and satisfaction is our number one priority. We believe in providing our customers real value for money, hence we supply quality products at highly competitive prices. We feel that good quality, competitive prices and timely delivery are the essence of building good long term business relationships.</p>
					<p><a href="#4" class="cross-link" title="Go to Page 4">&#171; Previous</a> | <a href="#6" class="cross-link" title="Go to Page 6">Next &#187;</a></p>
				</div>
			</div>
			<div class="panel" title="Contact Us">
				<div class="wrapper">
					
                    <h2>Contact Us</h2>
                    
                    <div id="contact_form">
                         <?php if ($this->sent == 'noMessage') { ?>
                        <form method="post" name="contact" action="/index#6">
                         <input type="hidden" name="post" value="sendMessage" />
                         <label for="author">Name:</label> <input type="text" id="author" name="author" class="required input_field" />
                         <div class="cleaner_h10"></div>

                         <label for="email">Email:</label> <input type="text" id="email" name="email" class="validate-email required input_field" />
                         <div class="cleaner_h10"></div>
                         <label for="subject">Subject:</label> <input type="text" id="subject" name="subject" class="required input_field" />
                         <div class="cleaner_h10"></div>
                         <label for="text">Message:</label> <textarea id="text" name="text" rows="6" cols="30" class="required"></textarea>
                         <div class="cleaner_h10"></div>

                         <input style="font-weight: bold;" type="submit" class="submit_btn" name="submit" id="submit" value="Send" />
                         <input style="font-weight: bold;" type="reset" class="submit_btn" name="reset" id="reset" value="Reset" />
                        </form>
                         <?php } else { ?>
                              <h3>Message Sent</h3>
                         <?php } ?>
                    </div>
                    
                    <div class="address_info">
                    	<h3>Address</h3>
                        373 C. Almeda St. (Corner G. Flores St.) Brgy. San Pedro Pateros Metro Manila<br />
                    	Telephone Number: 641-3424 / 666-2434 / 942-8997<br />
                        Cell Phone Number: 0926-677-5339 / 0916-758-6818<br />
                        Email: project1n@yahoo.com
                        
                    </div>
                    
                    <div class="cleaner_h20"></div>
                    
					<p><a href="#5" class="cross-link" title="Go to Page 5">&#171; Previous</a> | <a href="#1" class="cross-link" title="Go to Page 1">Next &#187;</a></p>
				</div>
			</div>
               
			
		</div><!-- .panelContainer -->
	</div><!-- #slider1 -->
</div><!-- .slider-wrap -->

<p id="cross-links" style="width:0px; height: 0px; font-size:0; overflow: hidden;">
	Same-page cross-link controls:<br />
	<a href="#1" class="cross-link">Page 1</a> | <a href="#2" class="cross-link">Page 2</a> | <a href="#3" class="cross-link">Page 3</a> | <a href="#4" class="cross-link">Page 4</a> | <a href="#5" class="cross-link">Page 5</a>
</p>

   
    <!-- end of slider -->
       
	</div> 
	<!-- end of templatemo_content -->
</div> <!-- end of templatemo_content_wrapper -->

<div id="templatemo_footer_wrapper">

	<div id="templatemo_footer">

	    Copyright © <?php echo date("Y"); ?> <a href="/index">Project One Graphics & Printing Services</a> 
      
	</div> <!-- end of templatemo_footer -->
</div> <!-- end of templatemo_footer_wrapper -->

</html>