<?php $date = new DateTime($this->user->date_created); ?>
<span id="layoutContainer"></span>
<span id="stat">
    <span class="label panelitemmargin">Total Logins:</span><span>510</span><br />
    <span class="label panelitemmargin">Registered on:</span><span><?php echo trim($date->format('d.m.Y - H:i')); ?> Uhr</span><br />
    <span class="label panelitemmargin">Position:</span><span><?php echo ucfirst($this->user->groupname); ?></span>
    <div class="panelitemmargin"></div>
</span>

<span id="newsContainer">
</span>