/*
    Document   : layout
    Created on : Oct 7, 2010, 2:42:06 PM
    Author     : Kristel
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Temporary body font */
body {
    font-family: helvetica;
    font-size: 75%;
}
.header {
    background: url('/img/layout-1/header_bg.png') repeat-x ;
}

.x-btn-mc-left {
    text-align:left !important;
}

#logged-in-as {
    color       : #dad6d7;
    background  : #1b1d2c;
    border      : 1px solid #a6a4a5;
    font-weight: bolder;
    padding :2px 10px 2px 2px;
}

.logbgreen {
    color       : #4ccafd ;
}
.logleft {
    text-align: left;
    width: 70%;
}

.logright {
    text-align: right;
    width: 30%;
}
#login-logout {
    padding : 5px;
    border : 0px;
    font-weight: bolder;
}
#welcome-header{
    font-size: 18px;
    padding : 10px;
}

#passwordExpired {
    font-size: 10px;
    font-weight: bold;
    color: red;
    padding-bottom: 10px;
    vertical-align: middle;
}

.panelMargin {
    margin: 15px 5px 0 5px;
}

.panelItemMargin {
    margin: 5px 5px 0 50px;
    padding-left: 100px;
}

.lastLogin {
    margin: 0 0 5px 5px;
    font-size: small;
}

#frontLoginContainer {
    border: thin solid;
    margin: 5px 5px 5px 5px;
}

.button-link .x-btn-text {
    cursor: pointer !important;
    border: none !important;
    /* Disable the button-style */
    background-color: transparent !important;
    background:none !important;
    background-image:none !important;
    padding: 0px !important;
    color: blue !important;
    text-decoration: underline !important;

}

/* remove images */

.button-link .x-btn-tl,
.button-link .x-btn-tr,
.button-link .x-btn-tc,
.button-link .x-btn-ml,
.button-link .x-btn-mr,
.button-link .x-btn-mc,
.button-link .x-btn-bl,
.button-link .x-btn-br,
.button-link .x-btn-bc {
    background-image: none !important;
}

/* remove little dots in FF */

.button-link .x-btn-tl i,
.button-link .x-btn-tr i,
.button-link .x-btn-tc i,
.button-link .x-btn-ml i,
.button-link .x-btn-mr i,
.button-link .x-btn-mc i,
.button-link .x-btn-bl i,
.button-link .x-btn-br i,
.button-link .x-btn-bc i {
    font-size: 0px;
}
.new-messages-update{
    background : url(/img/icons/email.png) no-repeat !important;
    color:green;
    padding-left : 30px;
    margin: 10px;
    font-weight: bold;
    float:left;
    display: inline;
    width : 100%;
    cursor: pointer ;
}

.new-unsetpics-update{
    background : url(/img/icons/photo.png) no-repeat !important;
    color:green;
    padding-left : 30px;
    margin: 10px;
    font-weight: bold;
    float:left;
    display: inline;
    width : 100%;
    cursor: pointer ;
}

.newsDescripMargin {
    margin: 5px 5px 5px 5px;
}
.disabled-wd{
    color : black;
}
.x-item-disabled {
    color : black;
    cursor: default;
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}

#categoriesDisplay {
    background-color: white;
    border: thin solid #083772;
}

.settingsLabel {
    font-size: 12px;
    font-weight: bold;
}

.icon-zoom {
    background-image: url(/img/icons/magnifier.png);
}
/* Lead View Details */
.leadviewleftfloat{
    float: left;
    width: 370px;
}
.leadviewrightfloat{
    float: right;
    width:370px;
}
.leadviewcontainer{width: 800px;}
.leadviewinfocontainer{width: 750px;}
.leadviewlinebreak{
    border-bottom: 1px solid #E5872C;
}
.leads-icon{
    background-image: url(/img/icons/application.png);
}
.accounts-icon{
    background-image: url(/img/icons/group.png);
}
.contacts-icon{
    background-image: url(/img/icons/telephone.png);
}
.activity-icon{
    background-image: url(/img/icons/transmit_blue.png);
}
.email-icon{
    background-image: url(/img/icons/email.png);
}
.delete-icon{
    background-image: url(/img/icons/application_form_delete.png) !important;
}
.txt-editor{
    height : 30px !important;
    font-weight : bolder !important;
}
.panel-counts{
    color : red;
}
.status-change{
    z-index :9999999;
    position:absolute;
    left:500px;
    top :0px;
}

.tblactivity {
    border: 1px solid #dad6d7;
}

.tblactivity tr th{
    font-weight: bold;
    text-align: center;
}

.tblactivity tr td{
    text-align: left;
}

#cbgriddealsid .x-column-header-inner .x-column-header-text {
    white-space: normal;
}

#cbgriddealsid .x-column-header-inner {
    line-height: normal;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    text-align: center;
    top: 20%;
}

#cbgriddealsid .x-grid3-cell{
    text-align: center;
}

.unread-emails,.read-emails,.reply-emails {
    background-image: url("/img/icons/email.png");
    margin  : 2px;
    height  : 16px;
    width   : 16px;
}
.read-emails{
    background-image: url("/img/icons/email_open.png");
}
.reply-emails{
    background-image: url("/img/icons/email_go.png");
}
.new-msgs{
    margin-left : 50px;
    color : red;
    font-weight : bold;
}
.over-the-top{
    z-index :9999999 !important;
}
#upload-field{
    width : 140px;
}
.oversized-label{
    font-size : 18px !important;
    font-weight : bolder !important;
}
.dummy{
    border : 0px !important;
    background : url() !important;
}
.rerun-icon{
    height : 46px !important;
    width : 160px !important;
    background : url('/img/b5.jpg') !important;
    font-weight: bolder;
}
.icon-padded{
    padding : 2px;
}