<script type="text/javascript" src="/videos/jwplayer.js"></script>
<div id="container">Loading the player ...</div> 
<script type="text/javascript"> 
    jwplayer("container").setup({ flashplayer: "/videos/player.swf", 
        file: "/videos/CDN.flv", height: 540, width: 960 }); 
</script>