<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Project One Graphics & Printing Services | Admin</title>
        <link rel="shortcut icon" href="/img/favicon.jpg">
        <?php echo $this->headStyle() ?>
        <?php echo $this->headLink() ?>
        <script type="text/javascript">
            if(typeof(Ext) != "undefined") {
                Ext.QuickTips.init();
                Ext.BLANK_IMAGE_URL = '/js/ext3/resources/images/default/s.gif';
            }
            var LOGO = "<?php echo Zend_Registry::get('config')->appLogo2;?>";
            var date = <?php echo date('Y-m-d') ?> ;
            var GRP = <?php echo (@Zend_Auth::getInstance()->getIdentity()->group_id)? Zend_Auth::getInstance()->getIdentity()->group_id: 0; ?>;
            var ROLE = '<?php echo @Zend_Auth::getInstance()->getIdentity()->role ?>';
            var USER_ID = '<?php echo @Zend_Auth::getInstance()->getIdentity()->id ?>';
            var CUSERID = '<?php echo @Zend_Auth::getInstance()->getIdentity()->id ?>';
            var CUSERNAME = '<?php echo @Zend_Auth::getInstance()->getIdentity()->username ?>';
        </script>
        <?php  echo  $this->headScript() ."\n" ?>
        <script type="text/javascript" src="<?php echo Zend_Registry::get('config')->appUrl ?>/admin/index/min/?uc=<?php echo time() ?>"></script>
        
        <script src="<?php echo Zend_Registry::get('config')->appUrl?>/js/CB/locale/ext-lang-<?php echo Zend_Registry::get('config')->appLocale?>.js"></script>

<!--        <script src="<?php echo Zend_Registry::get('config')->appUrl?>/js/CB/locale/cb-lang-en.js"></script>-->

        <script src="<?php echo Zend_Registry::get('config')->appUrl?>/js/CB/locale/cb-lang-<?php echo Zend_Registry::get('config')->appLocale?>.js"></script>
        
        <script type="text/javascript">
            var version = CB.Utils.getFlashVersion().split(',').shift();
            ZeroClipboard.setMoviePath('/js/zeroclipboard/ZeroClipboard10.swf');
            if(version < 10){
                ZeroClipboard.setMoviePath('/js/zeroclipboard/ZeroClipboard.swf');
            }
            var clip = new ZeroClipboard.Client();
        </script>
    </head>
    <body>
        <div id="logged-in-as" style="background-color:#000;">
            <table width="100%">
                <tr>
                    <td class="logleft">
                        <img src="/img/icons/user.png" alt="" />&nbsp; Logged-in as <span class="logbgreen"><?php echo $this->loggedInAs() ?>
                        </span>
                    </td>
                    <td id="timedate" class="logright"></td>
                </tr>
            </table>
        </div>
        <?php echo $this->layout()->content; ?>
    </body>
</html>
