<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>MaxZando</title>
  <base href="<?=PUBLIC_PATH?>" />
    <?php echo $this->headLink()?>
    <?php echo $this->headStyle()?>
    <?php echo $this->headScript()?>
</head>
<body>
    <div id="contentMain">
      <?php echo $this->layout()->content;?>
    </div>
</body>
</html>