<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Project One Graphics & Printing Services | Admin</title>
      <link rel="shortcut icon" href="/img/favicon.jpg">
      <style type="text/css">

           #header-container{              
              background: url("/img/head_bg.jpg") repeat-x scroll 0 0 transparent;
              height : 119px;
              width  : 100%;
            }
            #header-left{
              left: 0;
              top : 0;
              padding:9px 0px 8px 60px;
              height : 119px;
              width  : 295px;
            }
      </style>
        <?php echo $this->headScript()?>
        <?php echo $this->headLink()?>
        <?php echo $this->headStyle()?>
      

      
        <script type="text/javascript">
            if(typeof(Ext) != "undefined") {
                Ext.QuickTips.init();
                Ext.BLANK_IMAGE_URL = '/js/ext3/resources/images/default/s.gif';
            }
        </script>
    </head>
    <body>
        <div id="header-container">
            <div id="header-left">
                
                <img src="/img/<?php echo Zend_Registry::get('config')->appLogo;?>" alt="" />
            </div>
            <div id="header-right">
            </div>
        </div>
        <div id="contentMain">
          <?php echo $this->layout()->content;?>
           
        </div>
       
    </body>
</html>
