<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>MaxZando | Admin</title>
        <?php echo $this->headScript()?>
        <?php echo $this->headLink()?>
        <?php echo $this->headStyle()?>
        <script type="text/javascript">
            if(typeof(Ext) != "undefined") {
                Ext.QuickTips.init();
                Ext.BLANK_IMAGE_URL = '/js/ext3/resources/images/default/s.gif';
            }
            var date = <?php echo Date('Y-m-d')?> ;
        </script>
    </head>
    <body>
        <div id="logged-in-as" style="background-color:#0061A5;">
            <table width="100%">
                <tr>
                    <td class="logleft">
                        <img src="/img/icons/user.png"/>&nbsp; Logged-in as <span class="logbgreen"><?php echo $this->loggedInAs()?> <a href="/authentication/logout">Logout</a></span>
                    </td>
                    <td id="timedate" class="logright"></td>
                </tr>
            </table>
        </div>

        <?php echo $this->layout()->content;?>
    </body>
</html>
